<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>EmailSendingWebApp</display-name>
	<!-- SMTP settings -->
	<context-param>
		<param-name>host</param-name>
		<param-value>smtp.gmail.com</param-value>
	</context-param>
	<context-param>
		<param-name>pass</param-name>
		<param-value>your email password</param-value>
	</context-param>
	<context-param>
		<param-name>port</param-name>
		<param-value>587</param-value>
	</context-param>
	<context-param>
		<param-name>user</param-name>
		<param-value>irene.zhang@mail.npu.edu</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>/jsp/index595.jsp	</welcome-file>
	</welcome-file-list>
</web-app>
